/* Colors */
:root {
    //Primary
    --color-orange: hsl(25, 97%, 53%);

    //Neutral
    --color-light-grey: hsl(217, 12%, 63%);
    --color-medium-grey: hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-verydark-blue: hsl(216, 12%, 8%);

    --color-white: hsla(360, 100%, 100%, 1);
  }